name: DevOps Bookstore CI/CD

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Build Frontend Image
      run: |
        docker build -t bookstore-frontend ./frontend

    - name: Build Backend Image
      run: |
        docker build -t bookstore-backend ./backend

    - name: Deploy to EC2
      uses: appleboy/ssh-action@v1.0.0
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_KEY }}
        script: |
          docker stop frontend || true
          docker stop backend || true
          docker rm frontend || true
          docker rm backend || true

          docker run -d --name frontend -p 80:80 bookstore-frontend

          docker run -d --name backend -p 5000:5000 \
            -e DB_HOST=${{ secrets.DB_HOST }} \
            -e DB_USER=${{ secrets.DB_USER }} \
            -e DB_PASSWORD=${{ secrets.DB_PASSWORD }} \
            -e DB_NAME=${{ secrets.DB_NAME }} \
            bookstore-backend
